<footer class="global-footer" id="footer">
    <div class="global-footer__inner">
        <div class="global-footer__social">
            <a class="global-footer__social-link" href="{{ profile.githubUrl }}">Github</a>
            <a class="global-footer__social-link" href="{{ profile.linkedinUrl }}">LinkedIn</a>
            <a class="global-footer__social-link" href="{{ profile.twitterUrl }}">Twitter</a>
        </div>
        <span class="global-footer__copyright">
            &copy; {{ now.year }} - Nate Luzod.
            All rights reserved.
        </span>
    </div>
</footer>
