.global-footer {
  @include container;
  font-size: modular-scale(-1);

  &__inner {
    border-top: rem(1) solid $border;
    float: left;
    padding: rem(20) 0 rem(100);
    width: 100%;
  }

  &__copyright {
    color: $text;
    font-weight: fw(light);
  }

  &__social {
    float: left;
    margin: 0 0 rem(10);
    width: 100%;

    @include grid-media($large) {
      float: right;
      width: auto;
    }

    &-link {
      @include type-smooth;
      border-bottom: 1px solid $secondary;
      color: $text;
      margin: 0 rem(10) 0 0;
      text-decoration: none;
    }
  }
}
