.global-header {
  @include box-sizing(border-box);
  background: $text;
  float: left;
  padding: 20px;
  width: 100%;


  @include grid-media($large) {
    @include position(fixed, 0 auto 0 0);
    padding: 45px 30px;
    width: auto;
  }

  // Portrait
  &__portrait {
    @include transition(filter, .35s);
    @include filter(grayscale(100%));
    border-radius: 50%;
    height: auto;
    width: 100%;

    &:hover {
      @include filter(grayscale(0%));
    }

    &-wrap {
      @include transition(all, .35s);
      @include size(70px);
      border-radius: 50%;
      display: none;
      margin: 0 0 20px;
      overflow: hidden;

      @include grid-media($large) {
        @include size(80px);
        display: block;
      }
    }
  }

  // Logo words / name
  &__logo {
    @include transition(all .35s);
    color: $background;
    display: block;
    font-family: ff(serif);
    font-size: modular-scale(2);
    font-weight: fw(bold);
    line-height: modular-scale(-1);
    text-decoration: none;
    width: 100%;

    @include grid-media($large) {
      font-size: modular-scale(4);
    }

    &-line {
      @include grid-media($large) {
        display: block;
      }
    }
  }
}
