.categories {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: none;

  &__category {
    display: inline-block;

    &-link {
      font-size: modular-scale(0);
      margin: 0 5px 0 0;

      &.-micro {
        font-size: modular-scale(-1);
      }
    }
  }
}
