.wysiwyg {

  // Headers
  @for $i from 1 through 6 {
    h#{$i} {
      @include type-smooth;
      color: $text;
      font-size: modular-scale(($i - 6) * -2);
      line-height: modular-scale(($i - 6) * -2);
      margin: 0 0 20px;

      @include grid-media($medium) {
        font-size: modular-scale(($i - 6) * -3);
        line-height: modular-scale(($i - 6) * -3);
      }
    }

    p+h#{$i} {
      margin-top: 80px;
    }
  }

  .mega {
    @include transition(all, .35s);
    font-size: modular-scale(12);
    line-height: modular-scale(12);
    margin-top: rem(60);

    @include grid-media($large) {
      font-size: modular-scale(18);
      line-height: modular-scale(18);
      margin: rem(67) 0 rem(20);
    }
  }

  .basic {
    font-size: modular-scale(9);
    line-height: modular-scale(9);
    margin: rem(80) 0 rem(20);

    @include grid-media($medium) {
      font-size: modular-scale(13);
      line-height: modular-scale(13);
      margin: rem(130) 0 rem(20);
    }
  }

  p,
  ul {
    color: $text;
    font-size: modular-scale(0);
    font-weight: fw(light);
    letter-spacing: rem(.2);
    line-height: modular-scale(4);
    margin: 0 0 20px;

    @include grid-media($medium) {
      font-size: modular-scale(1);
      line-height: modular-scale(5);
    }

    em {
      font-style: italic;
    }
  }

  .dropcap {
    color: $text;
    float: left;
    font-family: ff(serif);
    font-size: 130px;
    font-weight: fw(bold);
    line-height: 60px;
    padding: 22px 15px 20px 0;
  }

  .button {
    font-weight: fw(bold);
  }

  time {
    color: $light-text;
    display: block;
    font-size: modular-scale(1);
    font-weight: fw(light);
    margin: 0 0 40px;

    &.-micro {
      font-size: modular-scale(-1);
      line-height: modular-scale(1);
      margin: 0 0 rem(10);
    }
  }
}

a {
  @include transition(all, .25s);
  border-bottom: 1px solid $secondary;
  color: $text;
  position: relative;
  text-decoration: none;
  z-index: 1;

  &:hover {
    color: $primary;
  }
}
