<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
	<title>{% if entry.title is defined %}{{ entry.title }} - {% endif %}{{ siteName }}</title>
	<link rel="home" href="{{ siteUrl }}" />
	<link rel="stylesheet" type="text/css" href="https://cloud.typography.com/667694/709142/css/fonts.css" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% include 'fragments/_icons' %}
	{% includeCssFile "/assets/main.css" %}
</head>
<body class="base">
	{% include 'fragments/_global-header' %}
	{# include 'fragments/_global-nav' #}
	<main id="content" role="main">
		{% block content %}
		{% endblock %}
	</main>
	{% include 'fragments/_global-footer' %}
	{% includeJsFile "/assets/main.js" %}
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-93081404-1', 'auto');
	  ga('send', 'pageview');

	</script>
</body>
</html>
