<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<link rel="home" href="{{ siteUrl }}" />
	<link rel="stylesheet" type="text/css" href="https://cloud.typography.com/667694/709142/css/fonts.css" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% includeCssFile "/assets/main.css" %}
</head>
<body class="base">
	{% include 'fragments/_global-header' %}
	{% include 'fragments/_global-nav' %}
	<main id="content" role="main">
		{% block content %}
		{% endblock %}
	</main>
	{% include 'fragments/_global-footer' %}
	{% includeJsFile "/assets/main.js" %}
</body>
</html>
